@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:700|Raleway:700|Source+Serif+Pro');

body {
	margin: 0;
	width: 100%;
	height: 100%;
	color: #1d1d1d;
	font-family: "Source Serif Pro", serif;
	font-size: 18px;
	line-height: 1.5;
}

h1 {
	font-family: Raleway, sans-serif;
	margin-top: 1.5em;
	margin-bottom: 0;
	font-size: 2.75em;
	line-height: 1.3;
}

h2 {
	font-family: "Overpass Mono", monospace;
	margin-top: 0;
	font-size: 1.4em;
}

h3 {
	font-family: Raleway, sans-serif;
	margin-top: 0;
	margin-bottom: 0.25em;
}

.flex-center {
	display: flex;
	justify-content: center;
	
	width: 100%;
}

.vertical {
	flex-direction: column;
	align-items: center;
}

.poem-group {
	max-width: 45em;
}

.excerpt {
	max-width: 45em;
}

.excerpt p {
	text-indent: 3em;
}

.analysis {
	max-width: 45em;
	margin-bottom: 3em;
}

.analysis p {
	text-indent: 3em;
}

.poem {
	flex-grow: 1;
}

.annotations {
	flex-grow: 1;
	max-width: 15em;
	margin-top: 10.7em;
	position: relative;
	transition: top 1s;
	top: 0;
}

.annotations-lower {
	top: 75vh;
}

.hover {
	cursor: pointer;
}
#poem-1-section .hover {
	background: #444;
	color: #eee;
}
#poem-2-section .hover {
	background: #666;
	color: #bbb;
}
#poem-3-section .hover {
	background: #555;
	color: #eee;
}
#poem-4-section .hover {
	background: #666;
	color: #eee;
}

.poem > p > span, .annotations > span {
	transition-property: background, color;
	transition-duration: 0.5s;
}

.poem > p > span > span {
	transition-property: background;
	transition-duration: 0.5s;
}

.poem-transition {
	width: 100%;
	height: 200vh;
}

#poem-1-section {
	background: #e6e6e6;
}
.poem-transition.f1t2 {
	background: linear-gradient(#e6e6e6,#888);
}
#poem-2-section {
	background: #888;
}
.poem-transition.f2t3 {
	background: linear-gradient(#888,#212121);
}
#poem-3-section {
	background: #212121;
	color: #aaaaaa;
}
.poem-transition.f3t4 {
	background: linear-gradient(#212121,#333);
}
#poem-4-section {
	background: #333;
	color: #aaaaaa;
}

.image {
	width: 100%;
	height: 25em;
	box-shadow: inset 0px 10px 200px -50px rgba(0,0,0,0.5);
}

.image.final {
	height: 100vh;
}

#img1 {
	background: url(images/1_white_city.jpg) no-repeat center center fixed;
	background-size: cover;
}

#img2 {
	background: url(images/2_white_city.jpg) no-repeat center center fixed;
	background-size: cover;
}

#img3 {
	background: url(images/3_grant_park.jpg) no-repeat center center fixed;
	background-size: cover;
}

#img4 {
	background: url(images/4_roosevelt.jpg) no-repeat center center fixed;
	background-size: cover;
}

#img5 {
	background: url(images/5_holmes_castle.jpg) no-repeat center center fixed;
	background-size: cover;
}

#img6 {
	background: url(images/6_holmes_mugshot.jpg) no-repeat center center fixed;
	background-size: cover;
}

#img7 {
	background: url(images/7_sunset.jpg) no-repeat center center fixed;
	background-size: cover;
}

#img8 {
	background: url(images/8_lake_michigan.jpg) no-repeat center center fixed;
	background-size: cover;
}

.landing {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	background: #e6e6e6;
}

.landing-layout {
	max-width: 64em;
}

.landing h1 {
	margin: 0;
	font-size: 8em;
}

.landing-hint {
	font-family: "Overpass Mono", monospace;
	color: #bbb;
	font-size: 0.8em;
	font-style: italic;
}